<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92313675737-f1rno4lvrm701mbehmkoua56ljba5orr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92313675737-f1rno4lvrm701mbehmkoua56ljba5orr</string>
	<key>API_KEY</key>
	<string>AIzaSyDL2_kztaKWFp1IkBgQ-3MdBoFR1aoIhl8</string>
	<key>GCM_SENDER_ID</key>
	<string>92313675737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JDPaul.UOKiosk</string>
	<key>PROJECT_ID</key>
	<string>uokiosk</string>
	<key>STORAGE_BUCKET</key>
	<string>uokiosk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92313675737:ios:82eb5deb18806bff9c5bc8</string>
</dict>
</plist>